@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    background-color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
    size: 100%;
    color: rgb(0, 0, 0);
}

#head{
    font-size: 5vh;
    width: 90vw;
    margin: auto;
    color: rgb(255, 234, 0);
}

input{
    position: relative  ;
    padding: 1vh;
    width: 10%;
    height: 50%;
    border-width:3px ;
    background-color: lightgrey;
    border-color: black;
    border-radius: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2vw;
}

input:hover{
    background-color: rgb(171, 171, 171);
    border-color: rgb(215, 215, 215);
}

.info{
    width: 93vw;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
}

