<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/admin.css">
    <title>Admin Panel</title>
</head>
<body>
    <div id="head">
        <h1>Admin Panel</h1>
    </div>


<center>
    <div class="info" id="adminInfo">
        {% if candidates %}
            {% for candidate in candidates %}
                <hr>
                <h2 id="name">Name: {{ candidate['candidate_data']['name'] }}</h2>
                <h2 id="email">Email: {{ candidate['candidate_data']['email'] }}</h2>
                <h2 id="type">Type: {{ candidate['candidate_data']['type'] }}</h2>
                <h2 id="illness">Illness: {{ candidate['candidate_data']['illness'] }}</h2>
                <h2 id="age">Age: {{ candidate['candidate_data']['age'] }}</h2>
                <h2 id="number">Number: {{ candidate['candidate_data']['number'] }}</h2>
                <h2 id="call">Call: {{ candidate['candidate_data']['call'] }}</h2>
                <form action="{{ url_for('remove_candidate', candidate_id=candidate['candidate_id']) }}" method="POST">
                    <input type="submit" value="Remove">
                </form>
                <hr>
            {% endfor %}
        {% else %}
            <h2>No candidates found.</h2>
        {% endif %}           
    </div>
</center>
</body>
</html>
