<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Example</title>
</head>
<body>
    <form method="post" action="/form">
        <div>
            <label for="name">First Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Enter here" maxlength="250">
        </div>
        <div>
            <label for="id_number">Kupat Holim ID Number:</label><br>
            <input type="text" id="id_number" name="id_number" placeholder="Enter here" minlength="9" maxlength="9">
        </div>
        <div>
            <label>Sex:</label><br>
            <label>
                <input type="radio" name="gender" value="female"> Female
            </label><br>
            <label>
                <input type="radio" name="gender" value="male"> Male
            </label><br>
            <label>
                <input type="radio" name="gender" value="other"> Other
            </label><br>
        </div>
      <div>
      <h2>Choose your blood type:</h2>
        <select name="blood">
            <option value="A-">A-</option>
            <option value="A+">A+</option>
            <option value="B-">B-</option>
            <option value="B+">B+</option>
            <option value="AB-">AB-</option>
            <option value="AB+">AB+</option>
            <option value="O-">O-</option>
            <option value="O+">O+</option>
            <option value="Dont_know">Dont know</option>
        </select><br>
      </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
